---
layout: default
title: PORTFOLIO
---

<div id="home">
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
  <section class="category art">
    <h2>ART</h2>
    <ul>
      <li style="background-image: url(/assets/img/humane.jpg)">
        <h1>Title of Work</h1>
      </li>
      {% for art in site.2DArt %}
        <li style="background-image: url(/assets/img/{{ art.thumb }})">
          <h1>{{ art.title }}</h1>
          <div class="fullview">
            {% include art.html %}
            {{ art.content}}
          </div>
        </li>
      {% endfor %}
    </ul>
    <!--<ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>-->
  </section>
</div>
