---
layout: default
---

<div class="home">

  <h1 class="page-heading">Assignments</h1>

  <section class="post-flex">

    {% for post in site.posts %}

    <a class="post-container" href="{{ post.url | prepend: site.baseurl }}">
      <img class="post-icon" src="{{ site.baseurl }}/assets/thumbs/{{ post.thumbnail }}">
      <div class="post-subtitle">
        {{ post.title }}
      </div>
    </a>

    {% endfor %}
    
  <!--
    <a class="post-container" href="">
      <img class="post-icon" src="{{ site.baseurl }}/assets/thumbs/portrait2.png">
      <div class="post-subtitle">
        d d d d d d d d d d d d d d d d d d d d d d d d d
      </div>
    </a>

  </section>




  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  -->

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
