{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<main>
<header><h1 style="display: none" id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></header>
<div id="homewrapper">
	<section id="hero">
		<div id="hero-image">
			<div class="blur"></div>
			<div class="center-text">
				<h2 class=".martel-sans-light">Christian Coppoletti</h2>
				<h1 class=".martel-sans-bold">Technical Artist</h1>
			</div>
		</div>
		
	</section>
	<section class="carousel" id="brands">
		<a href="/work/artwork"><img src="/images/brands/MiamiU.png"></a>
		<a href="/work/artwork"><img src="/images/brands/GE.png"></a>
		<a href="/work/artwork"><img src="/images/brands/LFStudios.png"></a>
		<a href="/work/artwork"><img src="/images/brands/Universal.png"></a>
		<a href="/work/artwork"><img src="/images/brands/Disney.png"></a>
		<a href="/work/artwork"><img src="/images/brands/UniversityOfCambridge.png"></a>
		<a href="/work/artwork"><img src="/images/brands/Realize.png"></a>
		<a href="/work/artwork"><img src="/images/brands/BlueSky.png"></a>
	</section>
	<section class="portfolio-thumbs" id="toprow">
		<ul>
			<a href="/work/artwork">
			<li>
				<div><img src="/images/thumbnails/artwork_sample.jpg"></div>
				<h2>Artwork</h2>
			</li>
			</a>
			<a href="/work/pipelines">
			<li>
				<div><img src="/images/thumbnails/artwork_sample.jpg"></div>
				<h2>Pipelines</h2>
			</li>
			</a>
			<a href="/work/mobileapps">
			<li>
				<div><img src="/images/thumbnails/artwork_sample.jpg"></div>
				<h2>Mobile Apps</h2>
			</li>
			</a>
		</ul>
	</section>
	<section class="carousel" id="tools">
		<a href="/work/artwork"><img src="/images/tools/ZBrush.png"></a>
		<a href="/work/artwork"><img src="/images/tools/Maya.png"></a>
		<a href="/work/artwork"><img src="/images/tools/Blender.png"></a>
		<a href="/work/artwork"><img src="/images/tools/Unity.png"></a>
		<a href="/work/artwork"><img src="/images/tools/Photoshop.png"></a>
		<a href="/work/artwork"><img src="/images/tools/Unreal.png"></a>
		<a href="/work/artwork"><img src="/images/tools/Substance.png"></a>
	</section>
	<h1>TOOLS</h1>
	<section class="portfolio-thumbs" id="bottomrow">
		<ul>
			<a href="/work/industrialdesign">
			<li>
				<div><img src="thumbnail"></div>
				<h2>Industrial Design</h2>
			</li>
			</a>
			<a href="/work/customplugins">
			<li>
				<div><img src="thumbnail"></div>
				<h2>Custom Plugins</h2>
			</li>
			</a>
			<a href="/work/gamedevelopment">
			<li>
				<div><img src="thumbnail"></div>
				<h2>Game Development</h2>
			</li>
			</a>
		</ul>
	</section>
	<section class="carousel" id="frameworks">
		<a href="/work/artwork"><img src="/images/frameworks/sql.png"></a>
		<a href="/work/artwork"><img src="/images/frameworks/java.png"></a>
		<a href="/work/artwork"><img src="/images/frameworks/python.png"></a>
		<a href="/work/artwork"><img src="/images/frameworks/csharp.png"></a>
		<a href="/work/artwork"><img src="/images/frameworks/aws.png"></a>
	</section>
	<h1>LANGUAGES & FRAMEWORKS</h1>
</div>
</main>
{{ partial "contact.html" . }}
{{ partial "footer.html" . }}
</body>
</html>
