<footer>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js"></script>
  <script>
    if (typeof jQuery === 'undefined') {
      document.write(unescape('%3Cscript%20src%3D%22/js/min/jquery-2.2.4.min.js%22%3E%3C/script%3E'));
    }
  </script>
  <script src="/js/min/instantclick.min.js"></script>
  <script data-no-instant>InstantClick.init();</script>
  <script>
    $(function() {
      $(".category h1").click(function(){
        $(this).next().fadeIn(150);
      });

      $(".fullview .fa-angle-right").click(function(){
        nxt();
      });

      $(".fullview .fa-angle-left").click(function(){
        prv();
      });

      $(".fa-times").click(function(){
        ext();
      });

      $(".fullview").mouseup(function(){
        ext();
      });

      function nxt(){
        var $foo = $(".fullview");
        var idx = $foo.index($(".fullview:visible"));
        if(idx+1 >= $foo.length){
          var nex = $foo.eq(0);
        } else {
          var nex = $foo.eq(idx+1);
        }
        $(".fullview:visible").hide();
        nex.show();
      }
      function prv(){
        var $foo = $(".fullview");
        var idx = $foo.index($(".fullview:visible"));
        var prev = $foo.eq(idx-1);
        $(".fullview:visible").hide();
        prev.show();
      }
      function ext(){
        $(".fullview").fadeOut(150);
      }

      $(document).keydown(function(e) {
          if(e.keyCode == 27){ //escape
            ext();
          }else if (e.keyCode == 39){ //right arrow
            nxt();
          }else if (e.keyCode == 37){ //left arrow
            prv();
          }
      });
    });
  </script>
</footer>
