<header>
  <div class="logo"> {% include logo.html %} </div>
  
  <nav class="nav-desktop">
    <a class="page-link" href="{{ site.baseurl }}/bio/">BIO</a>
    <a class="page-link" href="{{ site.baseurl }}/contact/">CONTACT</a>
    <a class="page-link" href="{{ site.baseurl }}/index.html">PORTFOLIO</a>
    <a class="page-link" href="{{ site.baseurl }}/blog.html">BLOG</a>
    <a class="page-link" href="{{ site.baseurl }}/assets/downloads/latestCV.pdf" target="_blank">CV</a>
  </nav>

  <div class="social-icons">
    <a href="https://github.com/fusobotic" target="_blank">GITHUB</a>
    <a href="https://www.youtube.com/user/fusobotic" target="_blank">YOUTUBE</a>
    <a href="https://www.linkedin.com/in/christian-coppoletti-b136b3b7" target="_blank">LINKEDIN</a>
  </div>
</header>
