/* font styles */

.martel-sans-extralight {
	font-family: "Martel Sans", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.martel-sans-light {
	font-family: "Martel Sans", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.martel-sans-regular {
	font-family: "Martel Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.martel-sans-semibold {
	font-family: "Martel Sans", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.martel-sans-bold {
	font-family: "Martel Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}
  

* p, * li{
	font-family: "Martel Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

* h1{
	font-family: "Martel Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}

* h2{
	font-family: "Martel Sans", sans-serif;
	font-weight: 300;
	font-style: normal;
}

p, h1, h2{
	color: #F1EEEB;
}

/* end font styles */

/* nav and base page styles */

body{
	background-color: #120103;
}

ul{
	list-style: none;
	padding: 0;
	display: block;
}

#homelogo{
	z-index: 50;
}

#homelogo img{
	height: 70px;
	margin-left: 15px;
}

#homelogo a{
	display: block;
}

nav, #mainmenu{
	height: 100px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1 rem;
	background-color: #F1EEEB;
}

nav > .wrapper{
	width: 80%;
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 1500px){
	nav > .wrapper{
		
		margin-left: -175px;
	}
}

#mainmenu{
	height: 100px;
	width: 100%;
	align-items: center;
	max-width: 800px;
}

#mainmenu > li{
	font-size: 22px;
	flex: 1;
	text-align: center;
	min-width: 25%;
	display: block;
	position: relative;
	white-space: nowrap;
}

#mainmenu > li > a, #submenu > li > a {
	text-decoration: none;
	color: #120103;
	transition: border .2s;
	border-bottom: 2px solid transparent;
}

#mainmenu > li > a:hover, #mainmenu > li.nav-underline > a,  #submenu > li a.subnav-underline, #submenu > li a:hover{
	border-bottom: 2px solid #120103;
	transition: border .2s;
}

#chevron{
	display: inline;
	white-space: nowrap;
	z-index: 2;
	transform: translate(0,-4px) rotateX(180deg);
	transition: all .25s;
}

#mainmenu > li:hover:has(a img#chevron) a img#chevron{
	transform:  translate(0,-2px) rotateX(0deg);
}

a:active{
	transform: scale(.95) !important;
}

#hamburger{
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 2;
	visibility: hidden;
}

#x-button{
	position: fixed;
	right: 12px;
	top: 10px;
	z-index: 2;
	visibility: hidden;
}

#mainmenu > li:first-child{
	position: relative;
  	display: inline-block;
}

ul #submenu{
	visibility: hidden;
	opacity: 0;
  	position: absolute;
	padding: 40px 20px 0px;
	margin-top: 10px;
	background-color: #F1EEEB;
	z-index: 5;
	width: inherit;
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
	transition: all .25s ease-in-out;
	border-radius: 0 0 20px 20px;
}

ul#mainmenu > li:has(#submenu):hover > ul#submenu {
	visibility: visible;
	opacity: 1;
	transition: all .1s ease-in-out;
}

#submenu > li{
	position: relative;
	text-wrap: nowrap;
	height: 55px;
	font-family: "Martel Sans", sans-serif;
	font-weight: 200;
	font-style: normal;
}


main header h1{
	text-align: center;
	text-transform: uppercase;
	font-family: "Martel Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 48px;
	margin: 40px 0;
}

#contact-popup{
	visibility: hidden;
	opacity: 0;
}

#contact-popup h1{
	text-align: center;
}

#contact-popup:target{
	visibility: visible;
	opacity: 1;
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index: 50;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background-color: #0a01024d;
	transition: all .2s;
	transform: translate3d(0,0,0);
}

#contact-popup #contact-topbar a{
	filter: invert(100);
	position: fixed;
	top: 20px;
	right: 20px;
	transition: all .1s;
}

a#popup-back-click{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: default;
}

#contact-popup #contact-topbar a:hover{
	transform: scale(1.2);
}

#contact-wrapper{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 800px;
	width: 80vw;
	background-color: #0a01026f;
	border-radius: 20px;
	padding: 20px;
}

form{
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	font-family: "Martel Sans", sans-serif;
	font-weight: 300;
	font-style: normal;
}

form input, textarea{
	padding: 15px;
	border-radius: 20px;
	font-size: 16px;
	border: none;
}

form input:focus, form textarea:focus{
	outline: 2px double #F1EEEB;
	outline-offset: 1px;
}

form input[name="name"]{
	grid-column: 1/3;
}

form input[type="email"]{
	grid-column: 3/5;
}

textarea{
	grid-column: 1/5;
	resize: none;
	height: 200px;
}

form input#submit{
	margin-top: 20px;
	border: 2px solid #F1EEEB;
	background-color: #0A0102;
	color: #F1EEEB;
	padding-top: 10px;
	grid-column: 2/4;
	line-height: 2.5;
	transition: all .1s;
	cursor: pointer;
	padding-top: 15px;
	font-size: 22px;
	outline: none;
}

form input#submit:hover{
	background-color: #F1EEEB;
	color: #0A0102;
}



@media only screen and (max-width: 800px) {
	nav{
		height: 40px;
		position: fixed;
		top:0;
		width:100vw;
		z-index: 10;
	}

	#chevron{
		transform:  translate(0,-2px) rotateX(0deg);
	}

	nav #homelogo{
		position: fixed;
		z-index: 6;
	}

	nav #homelogo img{
		margin: 5px 0 0 5px;
		height: 30px;
	}

	nav #hamburger{
		position: fixed;
		z-index: 2;
		visibility: visible;
	}
	
	nav #x-button{
		position: fixed;
		z-index: 5;
		visibility: hidden;
	}
	
	nav #mainmenu{
		transform: translate(0,-300%);
	}

	nav #mainmenu:target{
		position: absolute;
		height: auto;
		display: block;
		position: fixed;
		background-color: #F1EEEB;
		z-index: 4;
		top: 0;
		margin: 0;
		padding-bottom: 50px;
		transform: translate(0);
	}

	nav #mainmenu:target, nav #x-button{
		visibility: visible;
	}

	nav #mainmenu:target, nav #haburger{
		visibility: visible;
	}

	nav > .wrapper{
		display: block;
		width: 100%;
	}

	#mainmenu > li{
		font-size: 22px;
		text-align: center;
		display: block;
		white-space: nowrap;
		margin: 50px 0 0;
	}

	#mainmenu > li:first-child {
		position: relative;
		display: block;
		margin-bottom: 0;
	}

	ul #submenu{
		visibility: visible;
		opacity: 100;
		position: relative;
		padding:0;
		margin-top: 50px;
		background-color: #F1EEEB;
		z-index: 1;
		width: inherit;
		left: 50%;
		right: auto;
		text-align: center;
		transform: translate(-50%, 0);
		border-radius: 0;
		margin-bottom: -25px;
	}

	#submenu > li{
		display: block;
	}

	body {
		padding-top: 40px;
	}
	
}

/* end nav and base page styles */

/* footer styles */

footer p {
	text-align: center;
	color: rgb(70, 70, 70);	
}

footer p a{
	color: rgb(70, 70, 70);	
}

/* end footer styles */

/* post styles */

main article{
	display: grid;
	background-color: #0A0102;
	width: 100%;
	grid-template-rows: 1fr min-content;
	gap: 20px;
	grid-auto-flow: row dense;
	padding: 20px 0;
}

main article h2{
	text-align: center;
	margin: 0 auto;
	width: inherit;
	font-family: "Martel Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}

main article h2 img{
	display: inline;
	height: 25px; 
}


main article p{
	max-width: 650px;
	margin: auto;
	line-height: 1.5;
	padding: 0 20px ;
}


main article p img{
	width: 100%;
	max-height: 100%;
	margin: 20px 0;
}

main article p em{
	max-width: 60ch;
	font-style: inherit;
}

/* end post styles */

/* index.html styles */

section#hero{
	height: 50vh;
	max-height: 600px;
}

section #hero-image{
	position: absolute;
	background-image: url("/images/hero_image.jpg");
	background-position: 50% 25%;
	background-size: cover;
	height: 50vh;
	max-height: 600px;
	width: 100%;
	display: grid; /* Make parent a flex-container */
	place-content: center;
}

#hero .center-text{
	text-align: center;
}

section#hero h2{
	font-size: 36px;
	
}

section#hero h1{
	font-size: 64px;
	text-transform: uppercase;
}

#homewrapper h1{
	text-align: center;
	font-size: 48px;
	margin: 0;
}

section.carousel{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 30px;
	padding: 10px 0;
	background-color: #0A0102;
	border-bottom: 2px solid #201314;
}

#homewrapper img{
	transition: all .1s;
}

#homewrapper .carousel img:hover{
	transform: scale(1.1);
}

section.carousel img{
	max-width: 200px;
	max-height: 80px;
	height: auto;
	object-fit: contain;
}

section.carousel a, section.portfolio-thumbs a{
	line-height: 0px;
}


section.portfolio-thumbs{
	margin-bottom: 50px;
	margin-top: 20px;
}

section.portfolio-thumbs ul{
	display: flex;
	justify-content: space-around;
	margin:0;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0 20px;
}

section.portfolio-thumbs a{
	text-decoration: none;
	font-size: 22px;
	font-family: "Martel Sans", sans-serif;
	font-weight: 600;
	font-style: normal;
	text-align: center;
}

section.portfolio-thumbs img{
	height: 200px;
	width: 300px;
	border-radius: 20px;
}

#bottomrow{
	visibility: hidden;
	display: none;
}

.img-hover{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transform: translate(-100%,0);
	transition: all .25s;
}

section.portfolio-thumbs a:hover .img-hover, section.portfolio-thumbs a:active .img-hover{
	visibility: visible;
	opacity: 100;
	transform: translate(-100%,0);
}

@media only screen and (max-width: 1600px){
	section#hero, section #hero-image{
		height: 40vh;
	}
	section.carousel{
		flex-wrap: wrap;
		gap: 10px;
		padding: 20px 20px;
	}

	section.carousel img{
		max-width: 150px;
		max-height: 60px;
	}

	a.double-row{
		visibility: hidden;
		display: none;
	}

	#bottomrow{
		visibility: visible;
		display: block;
	}
}

@media only screen and (max-width: 800px) {
	section.carousel img{
		max-width: 100px;
		max-height: 40px;
	}

	section#hero h2{
		font-size: 30px;
	}

	section#hero h1{
		font-size: 50px;
	}

	section.portfolio-thumbs img{
		max-width: 100%;
		height: auto;
	}

}

/* end index.html styles */

/* Desktop Article View */

@media only screen and (min-width: 1500px){
	main article p:has(img){
		display: flex;
		align-items: center;
		max-width: 1800px;
		align-items: center;
		align-content: stretch;
	}

	main article p img{
		max-height: 80vh;
	}

	main article p:has(em) img{
		max-width: 80%;
		max-height: 80vh;
		margin: 0 25px;
		display: flex;
		align-self: center;
	}
}