body
  font-family: $font-stack
  background-color: $redblack

  .logotext
    display: block
    padding-top: 50px
    padding-left: 20px
    max-width: 575px
    margin-bottom: 20px
    margin-right: 20px

    svg
      max-height: 75px

    .st0
      fill: $offwhite

  .content
    padding-left: 160px

  header
    position: fixed
    height: 100vh
    width: 160px
    background-color: $offwhite
    display: flex
    flex-direction: column
    justify-content: center

    .social-icons
      position: fixed
      bottom: 20px
      left: 20px
      width: 120px
      height: 20px
      display: flex
      justify-content: space-between

      a
        display: block
        opacity: $modopacity
        text-decoration: none
        transition: all $animSpeed

        &:hover
          opacity: 1
          transform: scale(1.1,1.1)

      svg
        height: 20px
        fill: $redblack

    .logo
      position: fixed
      top: 20px
      left: 20px
      width: 120px

    .nav-desktop
      width: 100%
      display: flex
      flex-direction: column
      text-align: left

      .page-link
        padding: 10px 0px 10px 20px
        text-decoration: none
        font-weight: normal
        font-size: 22px
        color: $redblack
        opacity: $modopacity
        transition: all $animSpeed

        &:hover
          opacity: 1
          background-color: mix($redblack, $offwhite, 25)

        &.active
          background-color: $redblack
          color: $offwhite
          opacity: 1

#home
  section
    max-width: 760px
    margin: 20px 20px
    height: 3000px

    li
      background-image: url(/assets/img/humane.jpg)
      background-repeat: no-repeat
      background-position: center
      background-attachment: scroll
      background-size: 100% auto
      height: 100px
      margin: 20px 0px
      display: flex
      flex-direction: column
      justify-content: center
      overflow: hidden

    h2
      display: block
      font-size: 26px
      font-weight: normal
      color: $offwhite
      text-align: right


    h1
      opacity: 0
      line-height: 50px
      padding: 50px 0
      font-size: 22px
      font-weight: normal
      color: $offwhite
      background-color: rgba($redblack, .3)
      height: 100%
      text-align: center
      cursor: pointer
      transition: all $animSpeed

    li:hover h1
      opacity: 1
      //opacity: 1



.fullview
  display: none
