<nav>
    <div id="homelogo"><a href="/"><img src="/svgs/brand_logo.svg"></a></div>
    <div class="wrapper">
		<a href="#mainmenu"><img id="hamburger" src="/svgs/hamburger.svg"></a>
		<ul id="mainmenu">
		<a href="#"><img id="x-button" src="/svgs/x-button.svg"></a>
        {{- range site.Menus.main }}
        <li {{ if eq .URL page.Page.RelPermalink }} class="nav-underline" {{- end }}>
            <a href="{{ .URL }}">
                {{ .Name }}
                {{if eq .Name "Work"}}
                    <img id="chevron" src="/svgs/chevron.svg">
                    <ul id="submenu">
                        {{- range site.Menus.work }}
                            <li>
                                <a href="{{ .URL }}" {{ if eq .URL page.Page.RelPermalink }} class="subnav-underline" {{- end }}>
                                    {{ .Name }}
                                </a>
                            </li>
                        {{- end }}
                    </ul>
                {{- end }}
            </a>
            {{if eq .Name "Contact"}}
                    <div id="contact-popup">
                        <div id="contact-wrapper">
                            <div id="contact-topbar">
                                <h1>Contact Me</h1>
                                <a href="#"><img src="svgs/x-button.svg"></a>
                            </div>
                            <form action="https://formspree.io/cmcoppoletti@gmail.com" method="POST">
                                <input type="text" name="name" placeholder="Full Name">
                                <input type="email" name="_replyto" placeholder="Email">
                                <textarea name="Message" placeholder="What can I do for you?"></textarea>
                                <input id="submit" type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                {{- end }}
        </li>
        {{- end }}
    	</ul>
		
    </div>
</nav>
