<nav>
    <div id="homelogo"><a href="/"><img src="/svgs/brand_logo.svg"></a></div>
    <div class="wrapper"><ul id="mainmenu">
        {{- range site.Menus.main }}
        <li {{ if eq .URL page.Page.RelPermalink }} class="nav-underline" {{- end }}>
            <a href="{{ .URL }}">
                {{ .Name }}
                {{if eq .Name "Work"}}
                    <img id="chevron" src="/svgs/chevron.svg">
                    <ul id="submenu">
                        {{- range site.Menus.work }}
                            <li>
                                <a href="{{ .URL }}" {{ if eq .URL page.Page.RelPermalink }} class="subnav-underline" {{- end }}>
                                    {{ .Name }}
                                </a>
                            </li>
                        {{- end }}
                    </ul>
                {{- end }}
            </a>
        </li>
        {{- end }}
    </ul>
    </div>
</nav>
